<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @convenience_link.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @convenience_link.description %>
</p>

<p>
  <strong>Link:</strong>
  <%= @convenience_link.link %>
</p>

<p>
  <strong>Is public:</strong>
  <%= @convenience_link.is_public %>
</p>

<%= link_to 'Edit', edit_convenience_link_path(@convenience_link) %> |
<%= link_to 'Back', convenience_links_path %>
